List

Sequence of items or elements,
items can be of any datatype,
enclosed within sq bracket[] and separated by commas,
quite similar to arrays in C/C++ except contains different datatypes elements,
index starts at 0,
lists are changeable/mutable, meaning their elements can be changed.

In [4]:
emptylist = [] # Empty list

In [5]:
print(emptylist) # Output: []

[]

In [6]:
name= ['Umar','23','Pakistani'] #mixed data types in list
print(name) # Output: ['Umar', '23', 'Pakistani']

['Umar', '23', 'Pakistani']

accessing elements from array

In [7]:
print(name[0]) # Output: 'Umar'
print(name[1]) # Output: '23'

Umar
23

In [8]:
print(name[-1]) # Output: 'Pakistani'

Pakistani

Modifying elements of List

In [10]:
name[1]='24' # Modifying the second element
print(name)

['Umar', '24', 'Pakistani']

Adding Elements to List

Append() function

In [11]:
#append function to add elements to the last index of list
name.append('Student') # Adding 'Student' to the end of the list
print(name)

['Umar', '24', 'Pakistani', 'Student']

Insert() Method/Function

In [13]:
#add element at specific index where you want
name.insert(1,'M Umar Riaz')
print(name)

['Umar', 'M Umar Riaz', 'M Umar Riaz', '24', 'Pakistani', 'Student']

Removing elements from list

del() method

In [15]:
del name [1] # Deleting the second element
print(name)

['Umar', '24', 'Pakistani', 'Student']

pop() method

In [25]:
#pop method only deletes last element of list
print("before popping list: ",name)
popped_list= name.pop()  # Removing the last element
print("after popping list: ",name) 
print("popped element: ",popped_list) #checking which item got

before popping list:  ['Umar', '24', 'Pakistani', 'Student']
after popping list:  ['Umar', '24', 'Pakistani']
popped element:  Student

extend() method

In [27]:
#extend() adds multiple elements at once at the end of the list
name.extend(['Ai Engineer', 923000000])
print(name)

['Umar', '24', 'Pakistani', 'Ai Engineer', 923000000]

Slicing

In [28]:
name[:]

['Umar', '24', 'Pakistani', 'Ai Engineer', 923000000]

In [29]:
name[:2]

['Umar', '24']

In [32]:
name[:-2]

['Umar', '24', 'Pakistani']

In [35]:
name[0:3] #last doesnt get involved

['Umar', '24', 'Pakistani']

In [51]:
name[0:5:2] # step of 2, so it will take every second element

['Umar', 'Pakistani', 923000000]

In [52]:
name[0:5:3] #step of 3

['Umar', 'Ai Engineer']

In [53]:
a= 'Umar'
b= '23'
c= 'Student'
make_list = [a,b,c] # Creating a list with variables
print(make_list)

['Umar', '23', 'Student']

Some other Functions like: sum,max,min

In [55]:
make_list[1]+name[1]

'2324'

In [57]:
num = [1,2,3,4,5]
print("sum of list is: ",sum(num))

sum of list is:  15

In [58]:
print("max of list is: ",max(num))

max of list is:  5

In [59]:
print("min of list is: ",min(num))

min of list is:  1

Copy() method

In [60]:
#it will create a copy of the list
copy_list = name.copy()
print (copy_list)

['Umar', '24', 'Pakistani', 'Ai Engineer', 923000000]

sort() method

In [62]:
num.sort()
print(num)

[1, 2, 3, 4, 5]

reverse() method

In [ ]:
num.reverse()

In [66]:
print(num)

[5, 4, 3, 2, 1]

Range() Function

In [67]:
#generates sequence of num
print(range(1,6))

range(1, 6)

In [68]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

split() function

In [72]:
split_num= 'Umar Riaz'.split()

In [73]:
print(split_num)

['Umar', 'Riaz']

In [ ]:
print(name[3].split())

['Ai', 'Engineer']